<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
  <title>Matches page</title>
  <script src="/scripts/vendor.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script type="text/javascript">
    var jQuery = require('jquery');
    var React = require('react');
    var ReactBootstrap = require('react-bootstrap');
    var ReactRouter = require('react-router');

    var Button = ReactBootstrap.Button;
    var DropdownButton = ReactBootstrap.DropdownButton;
    var MenuItem = ReactBootstrap.MenuItem;
    var PanelGroup = ReactBootstrap.PanelGroup;
    var Panel = ReactBootstrap.Panel;
    var Navbar = ReactBootstrap.Navbar;
    var ListGroup = ReactBootstrap.ListGroup;
    var ListGroupItem = ReactBootstrap.ListGroupItem;
    var CollapsibleNav = ReactBootstrap.CollapsibleNav;
    var NavItem = ReactBootstrap.NavItem;
    var Nav = ReactBootstrap.Nav;
    var TabPane = ReactBootstrap.TabPane;
    var TabbedArea = ReactBootstrap.TabbedArea;
    var Glyphicon = ReactBootstrap.Glyphicon;
    var Carousel = ReactBootstrap.Carousel;
    var CarouselItem = ReactBootstrap.CarouselItem;
    var Modal = ReactBootstrap.Modal;
    var Route = ReactRouter.Route;
    var Link = ReactRouter.Link;
    var RouteHandler = ReactRouter.RouteHandler;
  </script>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" type="text/css" href="css/nav.css" />
  <link rel="stylesheet" href="/css/cards.css">
  <link rel="stylesheet" href="/css/matches.css">
  <link rel="stylesheet" href="/css/profileview.css">
  <link rel="stylesheet" href="/css/userprofileheader.css">
  <link rel="stylesheet" href="/css/expirationdatecountdown.css">
</head>
<body>
  <!--bundle.js START-->
  <script src="/scripts/matches.js"></script>
  <script>
    var matchId = '<%-id%>';
    var expirationDate = new Date('<%-expireDate%>');
    var userProfiles = <%-JSON.stringify(userProfiles)%>;
    var otherUserProfiles = <%-JSON.stringify(otherUserProfiles)%>;
    var jobInfo = <%-JSON.stringify(job)%>;
    var rejectionFormConfig = <%-JSON.stringify(formConfig)%>;
    var Matches = require('Matches').CompanyMatches;
    React.render(React.createElement(Matches, {matchId: matchId, userData: userProfiles, otherUserData: otherUserProfiles, jobInfo: jobInfo, expirationDate: expirationDate, rejectionFormConfig: rejectionFormConfig}), document.body);
  </script>
  <!--bundle.js END-->
</body>
</html>